fieldset {
    background-color: rgba(155, 177, 252, 0.63);
    max-width: 500px;
    padding: 16px;
    border: 0;
}

label {
    display: block;
    float: left;
}

label,
input {
    width: 68px;
    margin: 3px 0;
}

input {
    width: 200px;
    border-radius: 3px;
}

.btn {
    padding: 8px;
    width: 10%;
    margin: 0 auto;
    border-radius: 10px;
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    background: linear-gradient(to right, rgb(155, 177, 252, 0.63), rgb(0, 247, 255));
    cursor: pointer;
    margin-top: 10px
}

.btn_save {
    padding: 8px;
    width: 10%;
    margin: 0 auto;
    border-radius: 10px;
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    background: linear-gradient(to right, rgba(155, 177, 252, 0.63), rgb(0, 255, 115));
    cursor: pointer;
    margin-top: 10px
}